<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>NoteNavigator</string>
	<key>CFBundleIdentifier</key>
	<string>NoteNavigator</string>
	<key>CFBundleName</key>
	<string>NoteNavigator</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>nn</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Pavel Miroshnichenko</string>
		<key>LBEmail</key>
		<string>pavel@miroshnichen.co</string>
		<key>LBSummary</key>
		<string>Simple notes.app navigator</string>
		<key>LBTwitter</key>
		<string>@previewthenew</string>
		<key>LBWebsiteURL</key>
		<string>http://pavel.miroshnichen.co</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.apple.Notes</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
</dict>
</plist>
